<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Photo album</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body >

<div class="d-flex flex-column h-100">

  <nav class="navbar bg-light">
    <div class="container-sm">
      <%= link_to 'Photo album', photos_path, class: 'navbar-brand' %>
      <form class="d-flex">
        <%if user_signed_in? %>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.email %>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><%= link_to "Sign out", destroy_user_session_path, class: 'dropdown-item', data: { turbo_method: :delete } %> </li>
            </ul>
          </div>
        <%else %>
          <%= link_to 'Log In', new_user_session_url, class: 'btn btn-dark  btn-lg' %>
        <%end %>
      </form>
    </div>

  </nav>

  <main class="flex-shrink-0">
    <div class="container-sm">
      <% if notice.present? %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= notice %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <% if alert.present? %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= alert %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
    </div>


    <div class="container-md">
      <%= yield %>
    </div>
  </main>


  <footer class="footer mt-auto ">
    <div class="container">
      <span class="text-muted"> Last commit: <%= ENV.fetch("RENDER_GIT_COMMIT") { "local" } %></span>
    </div>
  </footer>
</div>

</body>

</html>
