<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Photo album</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body >

<div class="d-flex flex-column h-100">

  <nav class="navbar bg-light">
    <div class="container-fluid">
      <%= link_to 'Photo album', photos_path, class: 'navbar-brand' %>
    </div>
  </nav>

  <main class="flex-shrink-0">
    <div class="container-sm">
      <% if notice.present? %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= notice %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
    </div>


    <div class="container-md">
      <%= yield %>
    </div>
  </main>


  <footer class="footer mt-auto ">
    <div class="container">
      <span class="text-muted"> Rev: <%= ENV.fetch("K_REVISION") { "local" } %></span>
    </div>
  </footer>
</div>

</body>

</html>
